<!DOCTYPE html>

<html>
    <head>
        <title> Application Flask</title>
        <link rel = "stylesheet" type = "text/css" href="{{ url_for ('static', filename = 'base.css') }}" >
        <link rel="stylesheet" href="{{ url_for ('static', filename = '4d8aacec-1581436706.min.css') }}" type="text/css">

        <body>
        <h1> Allô le monde ! </h1>

        <div class="onglets_html">
            <div class="onglets">
                <div class="onglet_n onglet"><a href="{{ url_for('home') }}">SQL</a></div>
                <div class="onglet_n onglet"><a href="{{ url_for('inscrits') }}">Inscrits</a></div>
                <div class="onglet_n onglet"><a href="{{ url_for('load') }}">Téléchargement</a></div>
                <div class="onglet_y onglet"><a href="{{ url_for('mnist') }}">MNIST</a></div>
            </div>
            <div class="contenu"> 

				<div class="block-title">
					<h2>Télécharge une image MNIST : </h2>
				</div>

				<form action='/pred' method=post enctype=multipart/form-data>
					<input type=file name='image'>
					<input type="submit">
				</form>

            <div class="block-title">
			<h2>Ci-dessous les prédictions : </h2>
		</div>

				<p> <li>Avec un <b>Random Forest</b>, le chiffre prédit est à <b>{{score_rf}}%</b> un <b>{{y_pred_rf}}</b></li></p>

				<footer class="site-footer clearfix">
					<div class="footer-copyrights">
						<p><a href="{{ url_for('home') }}">Retour à l'accueil</a></p>
					</div>
				</footer>
        
</body>
	
</html>



